.App {
  font-family: sans-serif;
  text-align: center;
}

.person-card {
  display: flex;
  color: "red";
}

.person-card-content {
  flex: "1 0 auto";
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
}
